<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Predict Species</title>
    
</head> -->
<head>
    <meta charset="UTF-8">
    <title>Iris Species Predict</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  
<body>
    <div class="default_img">
    <img src='static\refer.jpg'height="200" width="200">
    </div>
    <div class="login">
        
        <h1>Predict Iris Species</h1>
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="sepal-length" placeholder="Sepal Length" required="required" />
            <input type="text" name="sepal-width" placeholder="Sepal Width" required="required" />
            <input type="text" name="petal-length" placeholder="Petal Length" required="required" />
            <input type="text" name="petal-width" placeholder="Petal Width" required="required" />
    
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        {{ prediction_text }}
        <br>

        {%if data == 0%}
        <img src='static\setosa.jpg'height="200" width="200">  
        {%elif data ==1%}
        <img src='static\versi.jpg' height="200" width="200">
        {%elif data==2%}
        <img src='static\virginica.jpg'height="200" width="200">        
        {%endif%}
    

    </div>
</body>
</html>